[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.0"
django-bootstrap5 = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
yahoo-fin = "*"
gunicorn = "*"
requests_html = "*"
dj-database-url = "*"
mysql-connector-python = "*"

[dev-packages]


[requires]
python_version = "3.12"
